/* header */
body{
	font-family: "bree Serif", "sans Serif";
	position: relative;
	background-color: #2169BC;
	background-image: url(../img/circuit-board.svg);
}
.navbar{
	height: 70px;
}

.navbarScroll{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 70px!important;
	opacity: 0.7;
	transition-property: width,height,opacity;
	transition-duration: 1s,1s,2s;
}

.active{
	background-color: blue!important;;
	transform:scale(1.1)!important;
	transition: .5s;
}

.jumbotron{
	margin-top: 70px;
}

.navbar-nav{
	flex-direction: row;
}

.nav-link div{
	text-align: center;
}

#mi-description h2{
	font-size: 50px;
}

#mi-description p{
	font-weight: 200;
	font-family: 'Permanent Marker';
	font-size: 20px;
}

/* portfolio */
section{
	margin:30px 0;
	background-color: #e9ecef;
}

.portfolio-main div a img{
			display: flex;
			align-self: center;
			max-width: 80%;
			height: auto;
			transition: .5s;
}

.portfolio-main div a img:hover{
			transform: scale(1.05);
			transition: .5s;
}

.card{
	height: 400px;
}

footer{
	height: 70px;
}

footer ul{
	margin: 0;
}

footer ul li{
	height: 40px;
}

/* Contacto */

#contact-term h2{
	font-size: 40px;
}

#contact-term p{
	font-family: 'Permanent Marker';
	font-size: 30px;
}
.form-control{
	border: none;
	border-bottom: 1px solid black;
	background-color: transparent;
	border-radius: 0;
}


/* Media Queries */
@media screen and (max-width: 576px){
	.navbar{
		height: 110px;
		transition:.5s;
	}
	.jumbotron{
		margin-top: 110px;
	}

}