body{
	background-color: blue;
	background-image: url(../img/circuit-board.svg);
}
.navbar{
	height: 70px;
}

.navbar-nav{
	flex-direction: row;
}

.nav-link div{
	text-align: center;
}

.nav-link:hover{
	background-color: grey;
}

.portFolioWrapper{
	background-color: green;
}

.proyWrapper{

	height: 200px;
	background-color: orange;
}

/* PORTFOLIO */
section{
	margin:30px 0;
	background-color: #e9ecef;
}

.section-main div img{
			max-width: 80%;
			height: auto;
			transition: .5s;
}

.section-main div img:hover{
			transform: scale(1.05);
			transition: .5s;
}

.card{
	height: 400px;
}

footer{
	height: 70px;
}

footer ul{
	margin: 0;
}

footer ul li{
	margin:0 10%;
	height: 40px;
}

/* Media Queries */
@media screen and (max-width: 576px){
	.navbar{
		height: 110px;
	}
	.navbar-brand{
		height: 40px;
		align-self: center;
		text-align: center;
		margin:0;
		padding: 0;		
	}

	.navbar-nav{
		height: 40px;
	}
}